/**{
  border: 1px dashed black;
}*/
body{
background-color: #19A496
}

.majority-text {
  box-sizing: border-box;
  margin: auto;
  padding: 10px;
  border: 2px solid black;
  height: auto;
  width: 750px;
  background-color: white;
  margin: 15px auto;;
  display: inline-block;
}

.bio {

}

.lists{
  text-align:left;
}
.pics{
  background-color: transparent;
  padding: 10px;
  border: 0px solid;
  height: auto;
  width: auto;
  
}
